img{
	width:100%;
	height:122%;
}
.a{
	position:absolute;
	color:#ef0000;
	margin-left:70%;
	margin-top:22%;
}
.podval{
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 6%; /* Поля вокруг текста */
    background: #2f2f2f; /* Цвет фона */
    width: 88%; /* Ширина слоя */
}
.tre{
	float:left;
	margin-left:8%;
	margin-bottom:3%;
}
.q{
	color:#990000;
	transition:0.35s;
}
.q:hover{
	color:#ff0000;
	transition:0.35s;
}
body{
	background:#2f2f2f;
}